$primary: rgb(227, 0, 27);
$secondary: #7a7af4;

.secondaryButtonTitle{
  color: $secondary;
}

.container{
  align-items: 'center';
}

.image {
  height: 30%;
  padding: 30%;
}

.body {
  //width: 100%;
  align-items: 'center';
}

.button {
  background-color: $primary;
  color: 'white';
}

.backgroundTransparent{
  background-color: transparent;
}