$primary: rgb(227, 0, 27);
$secondary: rgb(122, 122, 244);

.titleButtonStyle{
  color: white;
}

.container{
  align-items: 'center';
}

.image {
  height: 30%;
  padding: 30%;
}

.body {
  //width: 100%;
  align-items: 'center';
}

.buttonPrimary {
  background-color: rgb(227, 0, 27);
  color: 'white';
}

.backgroundTransparent{
  background-color: transparent;
}

.titleButtonStyleSecondary{
  color: $secondary;
}